@model IEnumerable<Calculate.Data.Models.OperationGet>
@{
    ViewData["Title"] = "Operation Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <section id="file-export">
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="date" id="searchDate" name="searchDate" value="@ViewBag.maxdate">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success btn-sm" id="searchRecord">
                                <i class="white"></i> Kayıt Ara
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li>
                                                <input type="file" class="btn btn-success btn-sm" id="fileUpload" name="fileUpload" onchange="UploadFile();" onselect="UploadFile();" accept=".xlsx">
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#createPopup">
                                                    <i class="ft-plus white"></i> Ekle
                                                </button>
                                            </li>
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                                        <table id="example" class="table table-striped table-bordered file-export">
                                            <thead>
                                                <tr>
                                                    <th>Tarih</th>
                                                    <th>Kasa Adı</th>
                                                    <th>İşlem No</th>
                                                    <th>Hesap Adı</th>
                                                    <th>Banka Adı</th>
                                                    <th>İşlem Tipi</th>
                                                    <th>Miktar</th>
                                                    <th>İşlem Ücreti</th>
                                                    <th>Güncelle</th>
                                                    <th>Sil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.UpdatedDate
                                                            </td>
                                                            <td>
                                                                @item.CaseName
                                                            </td>
                                                            <td>
                                                                @item.ProcessNumber
                                                            </td>
                                                            <td>
                                                                @item.Account
                                                            </td>
                                                            <td>
                                                                @item.AccountDetail
                                                            </td>
                                                            <td>
                                                                @item.ProcessType
                                                            </td>
                                                            <td>
                                                                @item.Price
                                                            </td>
                                                            <td>
                                                                @item.ProcessPrice
                                                            </td>
                                                            <td><a class="btn btn-warning btn-sm" onclick="edit(@item.Id)"><i class="la la-pencil"></i> Güncelle</a></td>
                                                            <td><a class="btn btn-danger btn-sm" onclick="remove(@item.Id)"><i class="la la-trash"></i> Sil</a></td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Tarih</th>
                                                    <th>Kasa Adı</th>
                                                    <th>İşlem No</th>
                                                    <th>Hesap Adı</th>
                                                    <th>Banka Adı</th>
                                                    <th>İşlem Tipi</th>
                                                    <th>Miktar</th>
                                                    <th>İşlem Ücreti</th>
                                                    <th>Güncelle</th>
                                                    <th>Sil</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <!-- Modal -->
                    <div class="modal fade text-left" id="createPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel1">İşlem Oluştur</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm())
                                    {
                                        <form class="form-group" autocomplete="off">
                                            <div class="form-body">
                                                <div class="row">
                                                    <p id="errorcaseId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput" class="col-sm-4 col-form-label">Kasa Adı</label>
                                                        <select id="caseId" name="caseId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir kasa seçiniz</option>
                                                            @foreach (var item in ViewBag.cases as SelectList)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p id="errorprocessNumber" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput1" class="col-sm-4 col-form-label">İşlem No</label>
                                                        <input style="width:250px !important;" id="processNumber" name="processNumber" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p id="erroraccountId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput2" class="col-sm-4 col-form-label">Hesap Adı</label>
                                                        <select id="accountId" name="accountId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir kasa seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroraccountDetailId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput3" class="col-sm-4 col-form-label">Banka Adı</label>
                                                        <select id="accountDetailId" name="accountDetailId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir hesap seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="errorprocessTypeId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput4" class="col-sm-4 col-form-label">İşlem Tipi</label>
                                                        <select id="processTypeId" name="processTypeId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir işlem türü seçiniz</option>
                                                            @foreach (var item in ViewBag.processTypes as SelectList)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="errorprice" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label class="col-sm-4 col-form-label">Miktar</label>
                                                        <input type='text' placeholder='0,00' pattern="^\d+(?:,\d+)*$" title="Numerik bir alandır. Ayraç için ',' kullanılır." style="width:250px !important;" id="price" name="price" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="errorprocessPrice" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label class="col-sm-4 col-form-label">İşlem Ücreti</label>
                                                        <input type='text' placeholder='0,00' pattern="^\d+(?:,\d+)*$" title="Numerik bir alandır. Ayraç için ',' kullanılır." style="width:250px !important;" id="processPrice" name="processPrice">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-actions text-center">
                                                <a type="button" class="btn btn-warning mr-1" href="/Operation/Index/">
                                                    <i class="ft-x"></i> Cancel
                                                </a>
                                                <!-- TODO burası submit deil ajax olmalı. İki kere basıldığında iki kayıt atılıor. Tek basıldığında button visible false edilmeli-->
                                                @*<input type="submit" class="btn btn-primary la la-check-square-o" value="Save" />*@

                                                <input type="button" id="save" class="btn btn-primary la la-check-square-o" value="Save" onclick="Save()">
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <!-- Modal -->
                    <div class="modal fade text-left" id="editPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel1">İşlem Güncelle</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm())
                                    {
                                        <form class="form-group" id="editForm">
                                            <div class="form-body">
                                                <div class="row">
                                                    <p id="erroreditCaseId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput" class="col-sm-4 col-form-label">Kasa Adı</label>
                                                        <select id="editCaseId" name="editCaseId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir kasa seçiniz</option>
                                                            @foreach (var item in ViewBag.cases as SelectList)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p id="erroreditProcessNumber" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput1" class="col-sm-4 col-form-label">İşlem No</label>
                                                        <input type="hidden" id="editId" name="Id">
                                                        <input style="width:250px !important;" id="editProcessNumber" name="editProcessNumber" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroreditAccountId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput2" class="col-sm-4 col-form-label">Hesap Adı</label>
                                                        <select id="editAccountId" name="editAccountId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir kasa seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroreditAccountDetailId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput3" class="col-sm-4 col-form-label">Banka Adı</label>
                                                        <select id="editAccountDetailId" name="editAccountDetailId" style="width:250px !important;" required>
                                                            @* <option value="">Lütfen bir hesap seçiniz</option>*@
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroreditProcessTypeId" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label for="donationinput4" class="col-sm-4 col-form-label">İşlem Tipi</label>
                                                        <select id="editProcessTypeId" name="editProcessTypeId" style="width:250px !important;" required>
                                                            <option value="" selected>Lütfen bir işlem türü seçiniz</option>
                                                            @foreach (var item in ViewBag.processTypes as SelectList)
                                                            {
                                                                <option value="@item.Value">@item.Text</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroreditPrice" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label class="col-sm-4 col-form-label">Miktar</label>
                                                        <input type='text' placeholder='0,00' pattern="^\d+(?:,\d+)*$" title="Numerik bir alandır. Ayraç için ',' kullanılır." style="width:250px !important;" id="editPrice" name="editPrice" required>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <p id="erroreditProcessPrice" style="color:red"></p>
                                                    <div class="form-group col-12 mb-2">
                                                        <label class="col-sm-4 col-form-label">İşlem Ücreti</label>
                                                        <input type='text' placeholder='0,00' pattern="^\d+(?:,\d+)*$" title="Numerik bir alandır. Ayraç için ',' kullanılır." style="width:250px !important;" id="editProcessPrice" name="editProcessPrice">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-actions text-center">
                                                <a type="button" class="btn btn-warning mr-1" href="/Operation/Index/">
                                                    <i class="ft-x"></i> Cancel
                                                </a>
                                                <input type="button" id="update" class="btn btn-primary la la-check-square-o" value="Update" onclick="Update()">
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/operationIndex.js"></script>