@{
    ViewData["Title"] = "OperationCreate Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Calculate.Data.Models.Operation

<style>
    .center_div {
        margin: 0 auto;
        width: 70%
    }
</style>
<div></div>
<div class="content-body center_div">
    <div class="row col-md-6">
        <form class="form-group" method="post">
            <div class="form-body">
                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label for="donationinput1">İşlem No</label>
                        @Html.TextBoxFor(x => x.ProcessNumber, new {@class = "form-control square"})
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label for="donationinput2">Hesap Adı</label>
                        @Html.TextBoxFor(x => x.AccountId, new {@class = "form-control square"})
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label for="donationinput3">Banka Adı</label>
                        @Html.TextBoxFor(x => x.AccountDetailId, new {@class = "form-control square"})
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label for="donationinput4">İşlem Tipi</label>
                        @Html.TextBoxFor(x => x.ProcessTypeId, new {@class = "form-control square"})
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label>Miktar</label>
                        <div class="input-group mt-0">
                            @Html.TextBoxFor(x => x.Price, new {@class = "form-control square"})                        
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-12 mb-2">
                        <label>Komisyon</label>
                        <div class="input-group mt-0">
                            @Html.TextBoxFor(x => x.ProcessPrice, new {@class = "form-control square"})                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions text-center">
                <a type="button" class="btn btn-warning mr-1" href="/Operation/Index/">
                    <i class="ft-x"></i> Cancel
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="la la-check-square-o"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>