@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Calculate.Data.Models.Operation>

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div id="crypto-stats-3" class="row">
                <div class="col-xl-4 col-12">
                    <div class="card crypto-card-3 pull-up">
                        <div class="card-content">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="cc BTC warning font-large-2" title="BTC"></i>
                                    </div>
                                    <div class="col-5 pl-2">
                                        <h4>BTC</h4>
                                        <h6 class="text-muted">Bitcoin</h6>
                                    </div>
                                    <div class="col-5 text-right">
                                        <h4>$9,980</h4>
                                        <h6 class="success darken-4">31% <i class="la la-arrow-up"></i></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12"><canvas id="btc-chartjs" class="height-75"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card crypto-card-3 pull-up">
                        <div class="card-content">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="cc ETH blue-grey lighten-1 font-large-2" title="ETH"></i>
                                    </div>
                                    <div class="col-5 pl-2">
                                        <h4>ETH</h4>
                                        <h6 class="text-muted">Ethereum</h6>
                                    </div>
                                    <div class="col-5 text-right">
                                        <h4>$944</h4>
                                        <h6 class="success darken-4">12% <i class="la la-arrow-up"></i></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12"><canvas id="eth-chartjs" class="height-75"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <div class="card crypto-card-3 pull-up">
                        <div class="card-content">
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-2">
                                        <i class="cc XRP info font-large-2" title="XRP"></i>
                                    </div>
                                    <div class="col-5 pl-2">
                                        <h4>XRP</h4>
                                        <h6 class="text-muted">Balance</h6>
                                    </div>
                                    <div class="col-5 text-right">
                                        <h4>$1.2</h4>
                                        <h6 class="danger">20% <i class="la la-arrow-down"></i></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12"><canvas id="xrp-chartjs" class="height-75"></canvas></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <section id="file-export">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">File export</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li> <a class="btn btn-success btn-sm" href="/Home/OperationCreate/"><i class="ft-plus white"></i> Ekle</a></li>
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                                        <p class="card-text">
                                            Exporting data from a table can often be a key part of a complex
                                            application. The Buttons extension for DataTables provides three plug-ins that provide
                                            overlapping functionality for data export.
                                        </p>
                                        <table id="example" class="table table-striped table-bordered file-export">
                                            <thead>
                                                <tr>
                                                    <th>İşlem No</th>
                                                    <th>Hesap Adı</th>
                                                    <th>Banka Adı</th>
                                                    <th>İşlem Tipi</th>
                                                    <th>Miktar</th>
                                                    <th>Güncelle</th>
                                                    <th>Sil</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IslemNo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.HesapAdi)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.BankaAdi)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IslemTipi)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Miktar)
                                                        </td>
                                                        <td><a class="btn btn-warning btn-sm" href="/Home/OperationEdit/@item.Id"><i class="la la-pencil"></i> Güncelle</a></td>
                                                        <td><a class="btn btn-danger btn-sm" href="/Home/OperationDelete/@item.Id"><i class="la la-trash"></i> Sil</a></td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>İşlem No</th>
                                                    <th>Hesap Adı</th>
                                                    <th>Banka Adı</th>
                                                    <th>İşlem Tipi</th>
                                                    <th>Miktar</th>
                                                    <th>Güncelle</th>
                                                    <th>Sil</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="form-group">
                    <h5>Default Modal</h5>
                    <p>Toggle a modal via JavaScript by clicking the button above.</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary block btn-lg" data-toggle="modal" data-target="#default">
                        Launch Modal
                    </button>

                    <!-- Modal -->
                    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel1">Basic Modal</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-group" method="post">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label for="donationinput1">İşlem No</label>
                                                    @Html.TextBox("IslemNo", "")
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label for="donationinput2">Hesap Adı</label>
                                                    @Html.TextBox("HesapAdi", "")
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label for="donationinput3">Banka Adı</label>
                                                    @Html.TextBox("BankaAdi", "")
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label for="donationinput4">İşlem Tipi</label>
                                                    @Html.TextBox("IslemTipi", "")
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-12 mb-2">
                                                    <label>Miktar</label>
                                                    <div class="input-group mt-0">
                                                        @Html.TextBox("Miktar", "")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-actions text-center">
                                            <a type="button" class="btn btn-warning mr-1" href="/Home/Index/">
                                                <i class="ft-x"></i> Cancel
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="la la-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Content-->
