<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calculate</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Calculate.styles.css" asp-append-version="true" />

    <link rel="apple-touch-icon" href="~/images/ico/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ico/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/fonts/material-icons/material-icons.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/line-awesome/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/material-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/material.css">
    <link rel="stylesheet" type="text/css" href="~/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/css/material-extended.css">
    <link rel="stylesheet" type="text/css" href="~/css/material-colors.css">
    <link rel="stylesheet" type="text/css" href="~/css/core/menu/menu-types/material-vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="~/css/charts/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" type="text/css" href="~/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/core/colors/material-palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/css/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" type="text/css" href="~/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/css/toastr.min.css">
</head>
<body class="vertical-layout vertical-menu-modern 2-columns material-vertical-layout material-layout  fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <header>
        <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
            <div class="navbar-wrapper">
                <div class="navbar-header">
                    <ul class="nav navbar-nav flex-row">
                        <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                        <li class="nav-item mr-auto">
                            <a class="navbar-brand" href="/Operation/Index">
                                <img class="brand-logo" style="width:36px;height:36px;" alt="modern admin logo" src="~/images/logo/logo.png">
                                <h3 class="brand-text">Dev Finans</h3>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-container content">
                    <ul class="nav navbar-nav float-right" style="margin-top:revert;">
                        <li>
                            <button type="button" id="logout" class="btn btn-icon btn-secondary mr-1 mb-1"><i class="ft-power"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END: Header-->
    </header>

    <!-- BEGIN: Main Menu-->

    <div class="main-menu material-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class=" navigation-header">
                    <span data-i18n="Admin Panels">Menü</span><i class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Admin Panels">more_horiz</i>
                </li>
                <li class=" nav-item">
                    <a href="~/Operation/Index" target="_self"><i class="material-icons">format_list_numbered</i><span class="menu-title" data-i18n="Invoice">İşlemler</span></a>
                </li>
                @* <li class=" nav-item">
                    <a href="~/Report/Index" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Banka Raporları</span></a>
                    </li>*@                
                <li class=" nav-item">
                    <a href="~/Report/Investment" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Yatırım Toplamları</span></a>
                </li>
                <li class=" nav-item">
                    <a href="~/Report/Withdrawal" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Çekim Toplamları</span></a>
                </li>
                <li class=" nav-item">
                    <a href="~/Report/Case" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Genel Toplam</span></a>
                </li>
                <li class=" nav-item">
                    <a href="~/EndDayReport/Index" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Gün Sonu Raporları</span></a>
                </li>
                <li class=" nav-item">
                    <a href="~/EndDay/Index" target="_self"><i class="material-icons">content_paste</i><span class="menu-title" data-i18n="Bank">Gün Sonu</span></a>
                </li>
            </ul>
        </div>
    </div>



    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Kapat"></button>
                @Html.Raw(TempData["SuccessMessage"])
            </div>
        }
        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-brand" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Kapat"></button>
                @Html.Raw(TempData["InfoMessage"])
            </div>
        }
        @if (TempData["WarningMessage"] != null)
        {
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Kapat"></button>
                @Html.Raw(TempData["WarningMessage"])
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Kapat"></button>
                @Html.Raw(TempData["ErrorMessage"])
            </div>
        }
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/material-vendors.min.js"></script>
    <script src="~/js/tables/datatable/datatables.min.js"></script>
    <script src="~/js/tables/datatable/dataTables.buttons.min.js"></script>
    <script src="~/js/tables/buttons.flash.min.js"></script>
    <script src="~/js/tables/jszip.min.js"></script>
    <script src="~/js/tables/pdfmake.min.js"></script>
    <script src="~/js/tables/vfs_fonts.js"></script>
    <script src="~/js/tables/buttons.html5.min.js"></script>
    <script src="~/js/tables/buttons.print.min.js"></script>
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/core/app-menu.js"></script>
    <script src="~/js/core/app.js"></script>
    <script src="~/js/scripts/pages/material-app.js"></script>
    <script src="~/js/index.js"></script>
    <script src="~/js/charts/chart.min.js"></script>
    <script src="~/js/charts/raphael-min.js"></script>
    <script src="~/js/charts/morris.min.js"></script>
    <script src="~/js/charts/jvector/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/js/charts/jvector/jquery-jvectormap-world-mill.js"></script>
    <script src="~/js/data/jvector/visitor-data.js"></script>
    <script src="~/js/charts/apexcharts/apexcharts.min.js"></script>
    <script src="~/js/scripts/pages/dashboard-crypto.js"></script>
    <script src="~/js/toastr.min.js"></script>

    <script>
        $("#logout").click(function(){
            if(confirm("Çıkış yapılacaktır. Emin misiniz?")){
                $.ajax({
              url: '/Logout/Index/',
              success: function (data) {
                  if(data){
                       window.location.reload();
                  }
              }
           });
            }
            else{
                return false;
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

